
    
    @mixin flex-box{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @mixin flex-spread{
        display: flex;
        justify-content: space-between;
        align-items: center
    }
    @mixin flex-column{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }



/* Style for Navbar */
.navbar-container{
    @include flex-box; 
    width: 100vw;
    height: 90px;
    position: fixed;
    top:0;
    left:0;
    background-color: rgb(232, 246, 255);
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        .brand-container{
            font-size: 18pt;
            font-weight: 600;
        }
        .navlinks{
            @include flex-spread;
            width: 40%;
            a{
                font-size: 13pt;
            }
        }
    }
}


/* Style for signUp page */
.signup-container{
    @include flex-box;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    .signup-contain{
        @include flex-column;
        width: 50%;
        border:1px solid rgb(232, 232, 232);
        height: 70%;
        border-radius: 5px;
    }
    .signup-wrapper{
        @include flex-column;
        width: 100%;
        height: 50%;
        border-radius: 10px;
    }
    .signup-i{
        width: 80%;
        height: 40px;
        margin-bottom: 30px;
        border:none;
        border-bottom: 1px solid gray;
       
    }
    .signup-i:focus{
        outline: none;
    }
    #signup-google{
        width: 80%;
        background-color: rgb(84, 175, 254);
        color:white;
    }
    #signup{
        width: 80%;
        margin-bottom: 20px;
        background-color: rgb(188, 0, 0);
        color:white;
        font-size: 13pt;
    }
}


.error-text{
    color:black;
}
.profile-img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
    overflow: hidden;
}

.profile-container{
    width: 100vw;
    height: 100vh;
    @include flex-column;
    .profilePage-img{
        width: 80px;
        height: 80px;
        border-radius: 100%;
        overflow: hidden;
        margin-bottom: 30px;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    .profile-contain{
        width: 80%;
        height: 50%;
        
        .profile-wrapper{
            @include flex-spread;
            flex-direction: column;
            width: 100%;
            height: 100%;
            .upload-percentage{
                width: 80% ;
                @include flex-box;
                .upload-error{
                    color:red;

                }
                .upload-process{
                    color:grey;
                }
                .upload-success{
                    color:green;
                }
            }

            .profile-i{
                width: 80%;
                height: 50px;
                border-radius: 10px;
                padding-left: 20px;
                
                border:1px solid rgb(203, 202, 202);
            }
            .update-btn{
                width: 85%;
                font-size: 14pt;
            }
            .update-btn:hover{
                background-color: rgb(0, 0, 0);
                color:white;
                border:none;
                
            }

            .link-container{
                width: 80%;
                @include flex-spread;
                color:red;
                .delete-link{
                    cursor: pointer;
                }
                .delete-link:hover{
                    color:black;
                }
                .signout-link{

                }
            }
        }
    }
}
.update-success{
    color:green;
}


/* Styles for extra small devices (phones) */
@media only screen and (max-width: 320px) {


}

/* Styles for small devices (phones and small tablets) */
@media only screen and (min-width: 321px) and (max-width: 768px) {



}

/* Styles for medium devices (tablets and small laptops) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
   


}

/* Styles for large devices (desktops and laptops) */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .profile-container{
        .profile-contain{
            width: 50%;
        }
    }
    
}

/* Styles for extra large devices (large desktops and high-resolution monitors) */
@media only screen and (min-width: 1441px) {
    .profile-container{
        .profile-contain{
            width: 50%;
        }
    }
    
    
}