
    
    @mixin flex-box{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @mixin flex-spread{
        display: flex;
        justify-content: space-between;
        align-items: center
    }
    @mixin flex-column{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }



/* Style for Navbar */
.navbar-container{
    @include flex-box; 
    width: 100vw;
    height: 90px;
    position: fixed;
    top:0;
    left:0;
    background-color: rgb(232, 246, 255);
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        .brand-container{
            font-size: 18pt;
            font-weight: 600;
        }
        .navlinks{
            @include flex-spread;
            width: 40%;
            a{
                font-size: 13pt;
            }
        }
    }
}


/* Style for signUp page */
.signup-container{
    @include flex-box;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    .signup-contain{
        @include flex-column;
        width: 50%;
        border:1px solid rgb(232, 232, 232);
        height: 70%;
        border-radius: 5px;
    }
    .signup-wrapper{
        @include flex-column;
        width: 100%;
        height: 50%;
        border-radius: 10px;
    }
    .signup-i{
        width: 80%;
        height: 40px;
        margin-bottom: 30px;
        border:none;
        border-bottom: 1px solid gray;
       
    }
    .signup-i:focus{
        outline: none;
    }
    #signup-google{
        width: 80%;
        background-color: rgb(84, 175, 254);
        color:white;
    }
    #signup{
        width: 80%;
        margin-bottom: 20px;
        background-color: rgb(188, 0, 0);
        color:white;
        font-size: 13pt;
    }
}


.error-text{
    color:black;
}
.profile-img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
    overflow: hidden;
}

.profile-container{
    width: 100vw;
    height: 100vh;
    @include flex-column;
    .profilePage-img{
        width: 80px;
        height: 80px;
        border-radius: 100%;
        overflow: hidden;
        margin-bottom: 30px;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    .profile-contain{
        width: 80%;
        height: 50%;
        
        .profile-wrapper{
            @include flex-spread;
            flex-direction: column;
            width: 100%;
            height: 100%;
            .upload-percentage{
                width: 80% ;
                @include flex-box;
                .upload-error{
                    color:red;

                }
                .upload-process{
                    color:grey;
                }
                .upload-success{
                    color:green;
                }
            }

            .profile-i{
                width: 80%;
                height: 50px;
                border-radius: 10px;
                padding-left: 20px;
               
                border:1px solid rgb(203, 202, 202);
            }
            .update-btn{
                width: 85%;
                font-size: 14pt;
            }
            .update-btn:hover{
                background-color: rgb(0, 0, 0);
                color:white;
                border:none;
                
            }
            .create-listing{
                width: 85%;
                height: 50px;
                @include flex-box;
                background-color: rgb(205, 254, 254);
                border-radius: 10px;
                font-size: 14pt;
                color:rgb(71, 28, 241);
            }
            .create-listing:hover{
                background-color: rgb(169, 255, 244);
                color:white;
                border:none;
                
            }
           

            .link-container{
                width: 80%;
                @include flex-spread;
                color:rgb(254, 0, 0);
                .delete-link{
                    cursor: pointer;
                }
                .delete-link:hover{
                    color:rgba(255, 0, 0, 0.581);
                }
                .signout-link{
                    cursor: pointer;
                }
                .signout-link:hover{
                    color:rgba(255, 0, 0, 0.581);
                }
            }
        }
    }
}
.update-success{
    color:green;
}









/* Listing page Style. */
.listing-center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
}
.title-listing{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-image-url{
    width:120px;
    background-color: black;
    height: 90px;
    object-fit: cover;
    border-radius: 10px;
}
.imageDelete-btn{
    width: 120px;
    height: 40px;
    border: none;
    background-color: transparent;
    color:rgb(255, 0, 0);
}

.list-imageContainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;

}
.imageList-error{
    color:red;
}
.list-container {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    
    .list-wrapper {
      background-color: #fff;
      border-radius: 10px;
      padding: 30px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 800px;
  
      input[type="text"],
      input[type="number"],
      textarea,
      input[type="file"]
       {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px;
        transition: border-color 0.3s ease;
  
        &:focus {
          outline: none;
          border-color: #007bff;
        }
      }
  
      textarea {
        resize: vertical;
        height: 100px;
      }
  
      label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
      }
  
      .check-list-container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15px;
  
        label {
          margin-right: 20px;
        }
      }
  
      .label-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 15px;
        margin-bottom: 15px;
  
        label {
          position: relative;
  
          input {
            width: calc(100% - 10px); /* Adjusted width for input */
          }
  
          .price-tag {
            position: absolute;
            bottom: -25px; /* Adjusted position for price tag */
            left: 0;
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-size: 14px;
            color: #666;
  
            span {
              display: inline-block;
            }
          }
        }
      }
  
      .img-description {
        margin-bottom: 15px;
        font-weight: bold;
      }
  
      .listImg-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
  
        input[type="file"] {
          width: 100%;
          padding: 8px;
          margin-bottom: 15px;
        }
  
        .listImage-btn {
          width: 100%;
          background-color: #007bff;
          color: #fff;
          border: none;
          padding: 10px;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: #0056b3;
          }
        }
      }
  
      .listing-btn {
        width: 100%;
        background-color: #28a745;
        color: #fff;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #218838;
        }
      }
    }
  }
  







/* Styles for extra small devices (phones) */
@media only screen and (max-width: 320px) {


}

/* Styles for small devices (phones and small tablets) */
@media only screen and (min-width: 321px) and (max-width: 768px) {



}

/* Styles for medium devices (tablets and small laptops) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
   


}

/* Styles for large devices (desktops and laptops) */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .profile-container{
        .profile-contain{
            width: 50%;
        }
    }
    
}

/* Styles for extra large devices (large desktops and high-resolution monitors) */
@media only screen and (min-width: 1441px) {
    .profile-container{
        .profile-contain{
            width: 50%;
        }
    }
    
    
}